<%- include("template/cabecera", {titleWeb: 'Pagina de inicio'}) %>

<div
	class="container d-flex align-items-center justify-content-center"
	style="height: 800px; max-height: 50%"
>
	<h1 class="text-primary">
		Crud con Mongoose, usando Node.js, ejs, express,nodemon, bootstrap y env
	</h1>
</div>

<%- include("template/pie") %>
